<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EiTruck">
        <activity
            android:name=".ui.restrict.RestrictArea"
            android:exported="false" />
        <activity
            android:name=".ui.notification.Notifications"
            android:exported="false" />
        <activity
            android:name=".ui.chat_bot.ChatBot"
            android:exported="false"
            android:theme="@style/Theme.EiTruck"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.SplashAITruck"
            android:exported="false" />
        <activity
            android:name=".ui.main.Main"
            android:exported="false" />
        <activity
            android:name=".ui.forgot_password.ForgotpassChange"
            android:exported="false" />
        <activity
            android:name=".ui.forgot_password.ForgotpassCode"
            android:exported="false" />
        <activity
            android:name=".ui.forgot_password.ForgotpassInput"
            android:exported="false" />
        <activity
            android:name=".ui.profile.Profile"
            android:exported="false" />
        <activity
            android:name=".ui.settings.Settings"
            android:exported="false" />
        <activity android:name=".ui.tratativa.TratativaNote"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.Login"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>